.nazwa {
  font-size: 18px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.znazwa {
  margin-bottom: 15px;
}
.kalendarz {
  padding-right: 10px;
  font-size: 18px;
}
.butony {
  margin-top: 20px;
  margin-bottom: 10px;
}
.anuluj {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
.zapisz {
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
.usun {
  background-color: red;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  color: black;
  margin-bottom: 10px;
}
.zmiana {
  border-radius: 5px;
  background-color: yellow;
  margin-bottom: 5px;
  width: 80px;
  height: 40px;
  color: black;
  margin-top: 10px;
}

.inputnazwa {
  width: 150px;
  height: 25px;
  font-size: 16px;
}

.inputkal {
  width: 120px;
  height: 30px;
  font-size: 15px;
}
