.App {
  text-align: center;
  max-width: 95vh;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  margin: 0 auto;
  color: white;
  max-width: 95vw;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #61dafb;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.active {
  color: green;
}

.expired {
  color: red;
}

.expired-soon {
  color: orange;
}
.member-table {
  width: 100%;
  border-collapse: collapse;
}

.member-table th,
.member-table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.member-table th {
  text-align: left;
}

.member-table td {
  text-align: center;
}

.member-table .actions-cell {
  text-align: right;
}
